*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
#box{
    padding: 50px 50px 50px 50px;
}
body{
    background:url(event1.jpeg);
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
.container{
    
    width: 400px;
    height: 650px;
    padding: 20px ;
    border-radius: 10px;
    display: flex;
}
.header{
    font-weight: 9000;
    position: absolute;
    left:90px ;
    top: 12em;
    color: #ddd;
    text-decoration: underline;
    
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color:chocolate;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  div {
    border-radius: 5px;
    
    padding: 20px;
  }
 .lab{
    
    position:relative;
    background-color: burlywood;
    width: 390px;
    left: 70em ;
    top: -43em;
    height: 100%;
 }
 input[type=submit]:hover {
    background-color:brown;
  }
  .qr{
    position: absolute;
    left: 500px;
    top: 150px;
    border: 10px solid burlywood;
    padding: 15px 15px 15px 15px;
    width: 500px;
 }
 .group{
    width: 28em;
    height:30em;
 }